# Importing Libraries

In [1]:
import pandas as pd
import sys
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

# Load the dataset

In [2]:
# Load the dataset
data = pd.read_csv('Applications_for_Machine_Learning_internship_edited.xlsx - Sheet1.csv')
data.insert(loc = 0,column = 'Intern_id', value = data.reset_index().index)

In [3]:
data.head()

,Intern_id,Name,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,0,NaN,1,0,0,1,"MS-Excel, MS-Word, Deep Learning, MySQL, Pytho...","Yes, I am available for 3 months starting imme...",Bachelor of Vocation (B.Voc.),Software Engineering,2021,NaN,6.50/7,NaN,NaN
1,1,NaN,2,0,0,0,"Git, GitHub, Linux, Adobe After Effects, Adobe...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science & Engineering,2024,NaN,8.90/10,NaN,NaN
2,2,NaN,2,2,0,0,"Amazon Web Services (AWS), Docker, Hadoop, MS-...","Yes, I am available for 3 months starting imme...",Master of Science (M.S.),Data Science And Analytics,2022,NaN,NaN,NaN,NaN
3,3,NaN,3,2,2,0,"Adobe XD, BIG DATA ANALYTICS, Canva, Data Anal...","Yes, I am available for 3 months starting imme...",Bachelor of Engineering (B.E),NaN,2024,NaN,NaN,85.60/85.60,10.00/10.00
4,4,NaN,2,2,0,0,"C++ Programming, Data Science, Machine Learnin...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science,2023,NaN,8.10/10,93.40/93.40,10.00/10.00

# Rename Column

In [4]:
column = {'Are you available for 3 months, starting immediately, for a full-time work from home internship? ':'Availability'}
data.rename(columns=column, inplace = True)

# Checking Missing data

In [5]:
data.isnull().sum()

Intern_id                                          0
Name                                            1136
Python (out of 3)                                  0
Machine Learning (out of 3)                        0
Natural Language Processing (NLP) (out of 3)       0
Deep Learning (out of 3)                           0
Other skills                                      66
Availability                                       0
Degree                                            43
Stream                                           170
Current Year Of Graduation                         0
Performance_PG                                   952
Performance_UG                                   654
Performance_12                                   643
Performance_10                                   709
dtype: int64

# Drop columns which contains many null values

In [6]:
col = ['Name','Degree','Stream','Current Year Of Graduation','Performance_PG','Performance_UG','Performance_12','Performance_10']
data = data.drop(col, axis=1)
data.head()

,Intern_id,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,Availability
0,0,1,0,0,1,"MS-Excel, MS-Word, Deep Learning, MySQL, Pytho...","Yes, I am available for 3 months starting imme..."
1,1,2,0,0,0,"Git, GitHub, Linux, Adobe After Effects, Adobe...","Yes, I am available for 3 months starting imme..."
2,2,2,2,0,0,"Amazon Web Services (AWS), Docker, Hadoop, MS-...","Yes, I am available for 3 months starting imme..."
3,3,3,2,2,0,"Adobe XD, BIG DATA ANALYTICS, Canva, Data Anal...","Yes, I am available for 3 months starting imme..."
4,4,2,2,0,0,"C++ Programming, Data Science, Machine Learnin...","Yes, I am available for 3 months starting imme..."

# See column 'Avaialability'

In [7]:
pd.set_option('display.max_colwidth', None)
data['Availability'] = data['Availability'].str.replace('Yes, I am available for 3 months starting immediately for a full-time internship.' ,'Yes')
df = data[data['Availability']!='Yes']
df

,Intern_id,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,Availability
45,45,2,2,2,2,"English Proficiency (Spoken), English Proficiency (Written), Accounting, Algorithms, Business Analysis, Computer Vision, Data Analytics, Data Science, Database Management System (DBMS), Deep Learning, Financial literacy, MS-Excel, MS-Office, MS-Word, Machine Learning, Natural Language Processing (NLP), Neural Networks, Power BI, Python, Research and Analytics, SQL, Tableau, Data Structures, Financial Modeling, Investing, Stock Trading, Tally","No, I am available full time but I have my exams in July which may continue for one week."
97,97,2,2,0,0,"Canva, LaTeX, MS-Word, Data Analytics, Data Science, MS-Excel, MS-Office, MS-PowerPoint, Machine Learning, Python, R Programming, SQL, Java","No, Since I am a student , I am available for 3 months starting immediately for a part-time internship."
152,152,0,2,0,0,"Data Structures, Machine Learning","No, I done in online mode only."
155,155,2,0,0,0,"Artificial Intelligence, Python, Android, Flutter","No, I am Available, For Work From Home 3 Months Part Time Internship Because I Am A Student Of Engineering."
247,247,1,0,0,0,"MySQL, PostgreSQL, Raspberry Pi, C Programming, Internet of Things (IoT), Java, Python","No, I'm available after July since i have exams in 15 days ."
337,337,0,0,0,0,NaN,"No, I have only one month time."
350,350,2,1,0,0,"Python, Artificial intelligence, CSS, HTML, Java, JavaScript, Machine Learning, SQL","No, As i am still in 7th sem of my degree i wont be available full time but i can work after college hours (except on days with tests/exams), so if you let me know the details of the work and the possible timings for it, it will allow me to manage my time according to it."
386,386,2,2,0,2,"Data Science, Deep Learning, Machine Learning, Python, Java, ReactJS","No, I am Available for six months but I need to attend my exams subject to university conducting them. ."
392,392,3,2,0,2,"Python, Computer Vision, Deep Learning, Machine Learning","No, I'm available from 6 P.M as i have to go to college."
534,534,2,1,0,0,"C Programming, C++ Programming, HTML, MySQL, Python, CSS, Data Science, Java, Machine Learning, UI & UX Design","No, I have my semester exams up till 25th of July, I will only be able to join after that."
579,579,2,1,0,0,"C Programming, C++ Programming, Data Analytics, MySQL, Python, Machine Learning","No, 25 July onwards because of exams."
623,623,2,2,2,2,"Algorithms, Android, Artificial Intelligence, Dart, Data Science, Data Structures, Database Management System (DBMS), Deep Learning, Flutter, Golang, Java, Machine Learning, Natural Language Processing (NLP), Python, BIG DATA ANALYTICS, Cloud Firestore, Firebase, iOS","No, I am available for 3 months starting from 14 July for a full-time internship."
668,668,2,0,0,0,"C Programming, C++ Programming, Python, Java, Power BI, R Programming, Tableau","No, From December of this year."
677,677,0,0,0,0,Adobe Dreamweaver,"No, As I am a college student I may not available for the whole time. I will be fully available anytime after 6:30 pm."
683,683,0,0,0,0,NaN,"No, I am available full time till end of August."
706,706,3,3,0,2,"Business Analysis, Data Analytics, Data Science, Data Structures, English Proficiency (Spoken), English Proficiency (Written), MS-Excel, Machine Learning, Python, R Programming, Statistical Modeling, Statistics, Deep Learning, Hadoop, MATLAB, MS SQL Server, MySQL, Neural Networks, Power BI, SQL, CSS, HTML, Java, JavaScript, PHP, PostgreSQL","No, Regarding my availability for the internship, I wanted to inform you that I am available for one month of internship. Unfortunately, due to my college commitments, I won't be able to extend my availability beyond that period. I wanted to be upfront about this limitation to ensure that expectations are clear from the beginning. However, during the one month I will be fully dedicated to the internship, and I am confident that I can contribute effectively to the projects during this time.\n."
730,730,2,2,0,2,"MS-Excel, Data Analytics, Data Science, Database Management System (DBMS), Deep Learning, Git, GitHub, Machine Learning, PostgreSQL, Power BI, Python, SQL, Statistical Modeling, Tableau, Visual Basic (VB)","No, I am available for work from home but i have exam in july also."
735,735,3,2,2,2,"C Programming, CSS, HTML, Java, MySQL, PostgreSQL, Python, Tableau, Angular 7.0, Bootstrap, Computer Vision, Data Analytics, Data Structures, Database Management System (DBMS), Deep Learning, Express.js, Flask, JavaScript, MS-Excel, Machine Learning, Natural Language Processing (NLP), Node.js, Power BI, R Programming, Raspberry Pi, SQL, AngularJS, Arduino, Data Science","No, I am available for 3 months, starting from August, 2023."
804,804,3,2,1,2,"Python, Data Analytics, Deep Learning, Machine Learning, Neural Networks, SQL, Tableau, Natural Language Processing (NLP)","No, I am available for 1 month after that my collage was started so then I am available for part time."
833,833,2,0,0,0,"HTML, C Programming, CSS, Data Science, Data Structures, Flutter, JavaScript, MATLAB, Python, C++ Programming","No, Part time."
862,862,3,3,3,3,"C++ Programming, Computer Vision, Data Analytics, Deep Learning, English Proficiency (Spoken), GitHub, Hindi Proficiency (Spoken), MS-Excel, MS-PowerPoint, MS-Word, Machine Learning, Natural Language Processing (NLP), Python, Stock Trading, Tableau, Artificial intelligence, Data Science, Data Structures, Django, English Proficiency (Written), MySQL, Neural Networks, PostgreSQL, Power BI, SQL, BIG DATA ANALYTICS, FastAPI, Flask, MS SQL Server, NoSQL","No, From 1st august."
1044,1044,2,2,0,3,"Deep Learning, Digital Signal Processing, MS-Excel, NoSQL, Research and Analytics, Selenium, Statistical Modeling, Tableau, Artificial intelligence, C++ Programming, Data Science, English Proficiency (Spoken), Financial Modeling, Financial literacy, Machine Learning, MySQL, Power BI, Python, SQL, Stock Trading, Cloud Computing, Computer Vision, Data Analytics, Neural Networks","No, I can only work in December 2023."
1079,1079,3,3,3,3,"Android, Computer Vision, Content Writing, Data Analytics, Data Science, Deep Learning, English Proficiency (Spoken), English Proficiency (Written), Flask, Machine Learning, Mathematics, Natural Language Processing (NLP), Python, R Programming, SQL, Algorithms, Data Structures","No, I'm available as a part time 3-months internship."
1104,1104,1,0,0,0,"HTML, Java, Python","No, I can able to work in evening after my college."

In [8]:
len(data[data['Availability']!='Yes'])

24

## as we see and observe that some say no but available for 3 month. So they will include in the list.

In [9]:
data.loc[[45,97,152,386,392,623,677,730,1104],['Availability']] = "Yes"

In [10]:
# Remove these no avilable interns rows
data.drop(data[data['Availability'] != 'Yes'].index, inplace = True)
data.head()

,Intern_id,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,Availability
0,0,1,0,0,1,"MS-Excel, MS-Word, Deep Learning, MySQL, Python, SQL",Yes
1,1,2,0,0,0,"Git, GitHub, Linux, Adobe After Effects, Adobe Illustrator, Adobe Photoshop, Amazon Web Services (AWS), AngularJS, C Programming, C++ Programming, CSS, Data Analytics, Data Science, Data Structures, Database Management System (DBMS), Docker, Figma, Firebase, Google Cloud Computing, HTML, Java, JavaScript, MS-Excel, MongoDB, Node.js, Postman, Python, REST API, ReactJS, SQL, Selenium, TypeScript, Database Testing",Yes
2,2,2,2,0,0,"Amazon Web Services (AWS), Docker, Hadoop, MS-Excel, Machine Learning, Python, SQL, Power BI",Yes
3,3,3,2,2,0,"Adobe XD, BIG DATA ANALYTICS, Canva, Data Analytics, Data Science, Figma, MS-Excel, MS-PowerPoint, Python, Adobe Photoshop, C++ Programming, Data Structures, Machine Learning, Natural Language Processing (NLP), SQL, Tableau, Amazon Web Services (AWS), Computer Vision",Yes
4,4,2,2,0,0,"C++ Programming, Data Science, Machine Learning, Python",Yes

# Now Drop Column 'Availibility' because all selected interns are available

In [11]:
data = data.drop(['Availability'], axis=1)
data

,Intern_id,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills
0,0,1,0,0,1,"MS-Excel, MS-Word, Deep Learning, MySQL, Python, SQL"
1,1,2,0,0,0,"Git, GitHub, Linux, Adobe After Effects, Adobe Illustrator, Adobe Photoshop, Amazon Web Services (AWS), AngularJS, C Programming, C++ Programming, CSS, Data Analytics, Data Science, Data Structures, Database Management System (DBMS), Docker, Figma, Firebase, Google Cloud Computing, HTML, Java, JavaScript, MS-Excel, MongoDB, Node.js, Postman, Python, REST API, ReactJS, SQL, Selenium, TypeScript, Database Testing"
2,2,2,2,0,0,"Amazon Web Services (AWS), Docker, Hadoop, MS-Excel, Machine Learning, Python, SQL, Power BI"
3,3,3,2,2,0,"Adobe XD, BIG DATA ANALYTICS, Canva, Data Analytics, Data Science, Figma, MS-Excel, MS-PowerPoint, Python, Adobe Photoshop, C++ Programming, Data Structures, Machine Learning, Natural Language Processing (NLP), SQL, Tableau, Amazon Web Services (AWS), Computer Vision"
4,4,2,2,0,0,"C++ Programming, Data Science, Machine Learning, Python"
...,...,...,...,...,...,...
1131,1131,2,2,0,2,"Data Analytics, Amazon Web Services (AWS), Data Science, Deep Learning, Machine Learning, Python, SQL, Tableau"
1132,1132,3,3,2,3,"Deep Learning, Docker, HTML, MS-Office, Machine Learning, Mathematics, Python, Statistics, Algorithms, C++ Programming, Computer Vision, Data Analytics, Data Science, Data Structures, Database Management System (DBMS), Git, Google Cloud Computing, Linux, Natural Language Processing (NLP), SQL, Tableau"
1133,1133,3,1,3,3,"Data Science, Deep Learning, English Proficiency (Spoken), English Proficiency (Written), MS-Excel, MySQL, Natural Language Processing (NLP), Python, SQL, C++ Programming, Data Analytics, Data Structures, Elasticsearch, MongoDB, Power BI, Tableau, Git, Machine Learning"
1134,1134,2,1,0,0,"Python, Data Analytics, MS-Excel, Machine Learning"
1135,1135,2,0,0,0,"C++ Programming, Database Management System (DBMS), Java, JavaScript, Python, C Programming, Data Science"

# Check Null rows in 'Other skills' column and filled with None

In [12]:
data.isnull().sum()

Intern_id                                        0
Python (out of 3)                                0
Machine Learning (out of 3)                      0
Natural Language Processing (NLP) (out of 3)     0
Deep Learning (out of 3)                         0
Other skills                                    64
dtype: int64

## Fill value with empty string

In [13]:
values = {'Other skills':''}
data = data.fillna(value=values)

In [14]:
data['Other skills'] =data['Other skills'].str.replace(' ','')

# Convert the Strings in "Other skills ' column to lower case

In [15]:
data['Other skills'] = data['Other skills'].apply(lambda x: x.lower())

In [16]:
data.head()

,Intern_id,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills
0,0,1,0,0,1,"ms-excel,ms-word,deeplearning,mysql,python,sql"
1,1,2,0,0,0,"git,github,linux,adobeaftereffects,adobeillustrator,adobephotoshop,amazonwebservices(aws),angularjs,cprogramming,c++programming,css,dataanalytics,datascience,datastructures,databasemanagementsystem(dbms),docker,figma,firebase,googlecloudcomputing,html,java,javascript,ms-excel,mongodb,node.js,postman,python,restapi,reactjs,sql,selenium,typescript,databasetesting"
2,2,2,2,0,0,"amazonwebservices(aws),docker,hadoop,ms-excel,machinelearning,python,sql,powerbi"
3,3,3,2,2,0,"adobexd,bigdataanalytics,canva,dataanalytics,datascience,figma,ms-excel,ms-powerpoint,python,adobephotoshop,c++programming,datastructures,machinelearning,naturallanguageprocessing(nlp),sql,tableau,amazonwebservices(aws),computervision"
4,4,2,2,0,0,"c++programming,datascience,machinelearning,python"

# Perform Text Preprocessing

In [17]:
import re
def text_preprocessing(text):
    text = re.sub(r"\(.*\)", '', text)
    text = re.sub(r"-", '', text)
    text = re.sub(r"\.", '', text)
    return text
data['Other skills'] = data['Other skills'].apply(text_preprocessing)

In [18]:
data.head()

,Intern_id,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills
0,0,1,0,0,1,"msexcel,msword,deeplearning,mysql,python,sql"
1,1,2,0,0,0,"git,github,linux,adobeaftereffects,adobeillustrator,adobephotoshop,amazonwebservices,docker,figma,firebase,googlecloudcomputing,html,java,javascript,msexcel,mongodb,nodejs,postman,python,restapi,reactjs,sql,selenium,typescript,databasetesting"
2,2,2,2,0,0,"amazonwebservices,docker,hadoop,msexcel,machinelearning,python,sql,powerbi"
3,3,3,2,2,0,"adobexd,bigdataanalytics,canva,dataanalytics,datascience,figma,msexcel,mspowerpoint,python,adobephotoshop,c++programming,datastructures,machinelearning,naturallanguageprocessing,computervision"
4,4,2,2,0,0,"c++programming,datascience,machinelearning,python"

In [19]:
data.reset_index(inplace = True)

In [20]:
data.head()

,index,Intern_id,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills
0,0,0,1,0,0,1,"msexcel,msword,deeplearning,mysql,python,sql"
1,1,1,2,0,0,0,"git,github,linux,adobeaftereffects,adobeillustrator,adobephotoshop,amazonwebservices,docker,figma,firebase,googlecloudcomputing,html,java,javascript,msexcel,mongodb,nodejs,postman,python,restapi,reactjs,sql,selenium,typescript,databasetesting"
2,2,2,2,2,0,0,"amazonwebservices,docker,hadoop,msexcel,machinelearning,python,sql,powerbi"
3,3,3,3,2,2,0,"adobexd,bigdataanalytics,canva,dataanalytics,datascience,figma,msexcel,mspowerpoint,python,adobephotoshop,c++programming,datastructures,machinelearning,naturallanguageprocessing,computervision"
4,4,4,2,2,0,0,"c++programming,datascience,machinelearning,python"

# Drop Column 'index'

In [21]:
data.drop(['index'],inplace=True,axis=1)

# Seperate skills in Other skills column

In [22]:
# Import the necessary libraries
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer

# Extract unique skills from the "other skills" column
unique_skills = set()
for skills in data['Other skills']:
    skills_list = skills.split(',')  # Split the skills by comma or any other delimiter
    unique_skills.update(skills_list)

# Create a binary feature matrix for the unique skills
mlb = MultiLabelBinarizer()
skills_matrix = mlb.fit_transform(data['Other skills'].str.split(','))

# Create a dataframe with the skills matrix
skills_df = pd.DataFrame(skills_matrix, columns=mlb.classes_)


# Concatenate the skills dataframe with the original dataset
data = pd.concat([data, skills_df], axis=1)

# Drop the original "other skills" column
data.drop('Other skills', axis=1, inplace=True)

# Print the updated dataset

In [23]:
data.head()

,Intern_id,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),,accounting,adobeaftereffects,adobeaudition,adobedreamweaver,...,vlsi,vscode,vuejs,web3js,webapplicationsecurity,webflow,wordpress,xcode,xml,youtubeads
0,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,2,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,3,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,2,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
list(data.columns)

['Intern_id',
 'Python (out of 3)',
 'Machine Learning (out of 3)',
 'Natural Language Processing (NLP) (out of 3)',
 'Deep Learning (out of 3)',
 '',
 'accounting',
 'adobeaftereffects',
 'adobeaudition',
 'adobedreamweaver',
 'adobeillustrator',
 'adobeindesign',
 'adobephotoshop',
 'adobephotoshoplightroomcc',
 'adobepremierepro',
 'adobexd',
 'ajax',
 'algorithms',
 'amazonwebserver',
 'amazonwebservices',
 'americanenglish',
 'analoganddigitalcircuits',
 'android',
 'angular20',
 'angular70',
 'angularjs',
 'animation',
 'apachekafka',
 'arabicproficiency',
 'arcgis',
 'arduino',
 'armmicrocontroller',
 'artificialintelligence',
 'aspnet',
 'assameseproficiency',
 'atmelavr',
 'autocad',
 'autodeskfusion360',
 'autodeskinventor',
 'bash',
 'bengaliproficiency',
 'bigdataanalytics',
 'bioinformatics',
 'biology',
 'blender3d',
 'blockchain',
 'blogging',
 'bootstrap',
 'britishenglish',
 'businessanalysis',
 'businessresearch',
 'c#',
 'c#net',
 'c++programming',
 'cad',
 'canva',
 'catia',
 'ccna',
 'chemistry',
 'ci/cd',
 'circuitdesign',
 'clientrelationship',
 'cloudcomputing',
 'cloudfirestore',
 'cms',
 'computernetworking',
 'computernetworks',
 'computervision',
 'contentmarketing',
 'contentwriting',
 'copywriting',
 'coreldraw',
 'cprogramming',
 'creativewriting',
 'css',
 'dart',
 'dataanalytics',
 'databasemanagementsystem',
 'databasemanagementsystemdevelopment',
 'databasetesting',
 'datascience',
 'datastructures',
 'deeplearning',
 'designthinking',
 'devops',
 'dietetics/nutrition',
 'digitaladvertising',
 'digitalart',
 'digitalmarketing',
 'digitalsignalprocessing',
 'django',
 'docker',
 'eagle',
 'eclipse',
 'economics',
 'effectivecommunication',
 'elasticsearch',
 'emailmarketing',
 'embeddedsystems',
 'englishproficiency',
 'enterpriseresourceplanning',
 'erpimplementationanddeployment',
 'ethereum',
 'ethicalhacking',
 'eventmanagement',
 'eviews',
 'expressjs',
 'facebookmarketing',
 'fastapi',
 'figma',
 'financialmodeling',
 'firebase',
 'firebasecloudmessaging',
 'flask',
 'flstudio',
 'flutter',
 'git',
 'gitbash',
 'github',
 'gitlab',
 'gitsvn',
 'gnuoctave',
 'golang',
 'googleanalytics',
 'googlecloudcomputing',
 'googleworkspace',
 'hadoop',
 'heroku',
 'hibernate',
 'hindiproficiency',
 'hranalytics',
 'html',
 'hyperledger',
 'imageprocessing',
 'inkscape',
 'instagrammarketing',
 'internetofthings',
 'interpersonalskills',
 'investing',
 'ios',
 'java',
 'javascript',
 'jenkins',
 'jira',
 'jquery',
 'json',
 'jsp',
 'kotlin',
 'kubernetes',
 'labview',
 'laravel',
 'latex',
 'less',
 'libreoffice',
 'linearprogramming',
 'linux',
 'machinelearning',
 'malayalam',
 'manualtesting',
 'mapstudy',
 'marathiproficiency',
 'marketingcampaigns',
 'marketingstrategies',
 'marketresearch',
 'mathematics',
 'matlab',
 'mean/mernstack',
 'microsoftazure',
 'microsoftpowerapps',
 'microsoftproject',
 'microsoftvisualstudio',
 'modelviewcontroller',
 'mongodb',
 'msexcel',
 'msoffice',
 'mspowerpoint',
 'mssqlserver',
 'msword',
 'music',
 'mysql',
 'naturallanguageprocessing',
 'net',
 'neuralnetworks',
 'nextjs',
 'nodejs',
 'nosql',
 'odoo',
 'onlineteaching',
 'opencv',
 'operations',
 'oracle',
 'painting',
 'parallelthinking',
 'pcbdesign',
 'pcbsoldering',
 'photography',
 'php',
 'physics',
 'plcprogramming',
 'plcscada',
 'postgresql',
 'postman',
 'powerbi',
 'productlifecyclemanagement',
 'productmanagement',
 'projectmanagement',
 'proofreading',
 'python',
 'qualityassurance/qualitycontrol',
 'raspberrypi',
 'reactjs',
 'reactnative',
 'redux',
 'reportwriting',
 'researchandanalytics',
 'restapi',
 'roboticprocessautomation',
 'robotics',
 'rprogramming',
 'rubyonrails',
 'rust',
 'sales',
 'salesforce',
 'sap',
 'sas',
 'sass',
 'scss',
 'searchenginemarketing',
 'searchengineoptimization',
 'selenium',
 'servlets',
 'shellscripting',
 'sketch',
 'sketching',
 'socialmediamarketing',
 'softwaretesting',
 'solidity',
 'solidworks',
 'springmvc',
 'spss',
 'sql',
 'sqlite',
 'staadpro',
 'stata',
 'statisticalmodeling',
 'statistics',
 'stocktrading',
 'tableau',
 'tailwindcss',
 'tally',
 'teaching',
 'terraform',
 'timemanagement',
 'transcription',
 'translation',
 'typescript',
 'ui&uxdesign',
 'unity3d',
 'unityengine',
 'unix',
 'unrealengine',
 'userinterface',
 'userinterfacedevelopment',
 'vectordynamics',
 'verilog',
 'vhdl',
 'videoediting',
 'videomaking',
 'virtualization',
 'visualbasic',
 'vlsi',
 'vscode',
 'vuejs',
 'web3js',
 'webapplicationsecurity',
 'webflow',
 'wordpress',
 'xcode',
 'xml',
 'youtubeads']

# Use only relevent Features amomg all the columns

# Considering the hiring is for Machile Learning Engineer

In [25]:
col = ['Intern_id', 'Python (out of 3)', 'Machine Learning (out of 3)', 'Natural Language Processing (NLP) (out of 3)', 'Deep Learning (out of 3)',  'algorithms', 'artificialintelligence', 'bigdataanalytics', 'cloudcomputing', 'dataanalytics', 'datascience', 'datastructures', 'databasemanagementsystem', 'django','mathematics','mongodb', 'powerbi', 'sql', 'tableau']
data = data[col]
data.head()

,Intern_id,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),algorithms,artificialintelligence,bigdataanalytics,cloudcomputing,dataanalytics,datascience,datastructures,databasemanagementsystem,django,mathematics,mongodb,powerbi,sql,tableau
0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
2,2,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0
3,3,3,2,2,0,0,0,1,0,1,1,1,0,0,0,0,0,0,0
4,4,2,2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0

In [26]:
data.isnull().sum()

Intern_id                                       0
Python (out of 3)                               0
Machine Learning (out of 3)                     0
Natural Language Processing (NLP) (out of 3)    0
Deep Learning (out of 3)                        0
algorithms                                      0
artificialintelligence                          0
bigdataanalytics                                0
cloudcomputing                                  0
dataanalytics                                   0
datascience                                     0
datastructures                                  0
databasemanagementsystem                        0
django                                          0
mathematics                                     0
mongodb                                         0
powerbi                                         0
sql                                             0
tableau                                         0
dtype: int64

# List of relevent columns

In [27]:
list(data.columns)

['Intern_id',
 'Python (out of 3)',
 'Machine Learning (out of 3)',
 'Natural Language Processing (NLP) (out of 3)',
 'Deep Learning (out of 3)',
 'algorithms',
 'artificialintelligence',
 'bigdataanalytics',
 'cloudcomputing',
 'dataanalytics',
 'datascience',
 'datastructures',
 'databasemanagementsystem',
 'django',
 'mathematics',
 'mongodb',
 'powerbi',
 'sql',
 'tableau']

# Select the intern with the highest overall score in relevant skills

In [28]:
# Select the intern with the highest overall score in relevant skills
relevent_skills = ['Python (out of 3)', 'Machine Learning (out of 3)', 'Natural Language Processing (NLP) (out of 3)', 
                                       'Deep Learning (out of 3)',  'algorithms', 'artificialintelligence', 'bigdataanalytics', 'cloudcomputing', 'dataanalytics', 
                                       'datascience', 'datastructures', 'databasemanagementsystem', 'django','mathematics','mongodb', 'powerbi', 'sql', 'tableau']
best_intern = data.iloc[data[relevent_skills].sum(axis=1).idxmax()]
# Display the best intern
best_intern_candidates2 = best_intern[['Intern_id', 'Python (out of 3)', 'Machine Learning (out of 3)', 'Natural Language Processing (NLP) (out of 3)', 
                                       'Deep Learning (out of 3)',  'algorithms', 'artificialintelligence', 'bigdataanalytics', 'cloudcomputing', 'dataanalytics', 
                                       'datascience', 'datastructures', 'databasemanagementsystem', 'django','mathematics','mongodb', 'powerbi', 'sql', 'tableau']]
best_intern_candidates2

Intern_id                                       767
Python (out of 3)                                 3
Machine Learning (out of 3)                       3
Natural Language Processing (NLP) (out of 3)      3
Deep Learning (out of 3)                          3
algorithms                                        1
artificialintelligence                            1
bigdataanalytics                                  0
cloudcomputing                                    0
dataanalytics                                     1
datascience                                       1
datastructures                                    1
databasemanagementsystem                          0
django                                            0
mathematics                                       1
mongodb                                           1
powerbi                                           0
sql                                               1
tableau                                           1
Name: 757, dtype: int64

# Conclusion : From the above we get the details of Hiring Best Intern for Machine Learning Engineer from the given Dataset